<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div>
        <footer>
            <ul>
                <li><a href="https://github.com/surgie">github.com/surgie</a></li>
            </ul>
        </footer>
    </body>
</html>